models/
data/*
!data/process_stuck.py
__pycache__/
**/checkpoints/
result/
envs/curobo
*.zip
viewer_show.*
eval_video/
# task_config/
**/.DS_Store
extracted_data/
/datasets

# eval result
eval_result/

# Code Generation
assets/*
!assets/_download.py
!assets/embodiments
*.STL
*.dae
*.stl
*.glb
*.xacro
*.srdf



policy/weights/*

envs/curobo/*

.vscode
/config.json

/*.json*
/*.txt